table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #3498db;
    color: white;
    width: 4em;
}
tr:nth-child(even) {
    background-color: #95b2f6;
}

.img-preview{
    /*height: 25em;*/
    /*width: 35em ;*/
    /*height: 100%;*/
    /*width: 100%;*/
}

.img-small{
    height: 10em;
    width: 15em ;
    margin-right: 1em;
    cursor: pointer;
}

/* The heart of the matter */
.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}
