table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #3498db;
    color: white;
    width: 4em;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.img-preview{
    height: 25em;
    width: 35em ;
}

.img-small{
    height: 10em;
    width: 15em ;
    margin-right: 1em;
    cursor: pointer;
}

/* The heart of the matter */
.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}

@media (max-width: 750px) {
    .img-preview{
        height: 10em;
        width: 20em ;
    }
}

@media (max-width: 540px) {
    .img-preview{
        height: 10em;
        width: 20em ;
    }
}
@media (max-width: 320px) {
    .img-preview{

        height: 5em;
        width: 15em ;
    }
}

